<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-us{{ end }}">
{{ partial "head.html" . }}

<body>
{{ "<!-- header -->" | safeHTML }}
<header class="col-12 shadow-bottom sticky-top bg-white">
    {{ partial "navigation.html" . }}
</header>
{{ "<!-- /header -->" | safeHTML }}
<div id="content">
    {{ block "main" . }}{{ end }}
</div>

{{ block "footer" . }}
    {{ partial "footer.html" (dict "ContentPath" "") }}
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

</body>

</html>
