{{ define "main" }}
    {{ "<!-- details page -->" | safeHTML }}
    <section class="single section bg-gray pb-0">
        <div class="container">
            <div class="row">
                <h1 class="mb-5 title col-12">{{ .Title }}</h1>
                {{ if $.Page.Param "image" }}
                <img src="{{ printf "images/%s" ($.Page.Param "image") | absURL }}" class="recipe-image mb-5 col-12"/>
                {{ end }}
                <div class="row col-12 mb-5">
                    <h5 class="col-12">Serves: {{ $.Page.Param "serves" }}</h5>
                    <h5 class="col-12">Total Cook Time: {{ $.Page.Param "total_time_to_make" }}</h5>
                    <h5 class="col-12">Prep Time: {{ $.Page.Param "time_to_prepare" }}</h5>
                    <h5 class="col-12">Cook Time: {{ $.Page.Param "time_to_cook" }}</h5>
                </div>
                <div class="content row col-12">{{.Content}}</div>
            </div>
        </div>
    </section>
    {{ "<!-- /details page -->" | safeHTML }}
{{ end }}
{{ define "footer" }}
    {{ $contentPath := printf "/tree/master/content/%s" .Page.File.Path }}
    {{ partial "footer.html" (dict "ContentPath" $contentPath) }}
{{ end }}
