{{ "<!-- footer -->" | safeHTML }}
<section class="section pb-3">
    <div class="container">
        <div class="row col-12">
            <a class="col-12" href="https://github.com/jaynewstrom/recipes{{ .ContentPath }}">
                <div class="row text-center">
                    <div><img width="20" height="20" src="/footer/github_icon.svg"></div>
                    <div class="ml-2"><p style="display: inline-block;">View it on GitHub</p></div>
                </div>
            </a>
        </div>
    </div>
</section>
{{ "<!-- /footer -->" | safeHTML }}
