{{ define "main" }}
    <section class="section bg-gray">
        <div class="container">
            <div class="row justify-content-center mb-3">
                <h1>All Recipes</h1>
            </div>
            <div class="row">
                {{ $Pages := sort .Site.RegularPages "Title" "asc" }}
                {{ $Pages = where $Pages "Params.type" "!=" "not-recipe" }}
                {{- range $Pages }}
                    {{ partial "list_item.html" . }}
                {{- end }}
            </div>
        </div>
    </section>
{{ end }}
